<div>
    <div class="bv-menu" style="overflow-y: hidden; outline: none;">
        <ul id="ulmenutree" class="ztree bv-tree">
            <li class="leve10 titleli">
                <a class="level0 title" style="font-size: initial; height: 20px;" data-toggle="collapse" href="#ulwelcomeconfig">欢迎页面</a>
                <ul class="level0" id="ulwelcomeconfig">
                    <li class="level1 subli">
                        <span class="node_name">欢迎页图片配置</span>
                    </li>
                </ul>
            </li>
            <li class="leve10 titleli">
                <a class="level0 title" style="font-size: initial; height: 20px;" data-toggle="collapse" href="#uldiscovery">发现页面</a>
                <ul class="level0" id="uldiscovery">
                    <li class="level1 subli">
                        <span class="node_name">头条配置</span>
                    </li>
                    <li class="level1 subli">
                        <span class="node_name">圈子配置</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        这个是将要展示数据的地方
    </div>
</div>